body{
    background-color: white;
}
#parte1{
    background-color: rgb(183, 222, 247);
}
#navegacao{
    src: url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
    font-family: 'Noticia Text', serif;
    font-size: 20px;  
    color: black;
    text-decoration: none;
}
h1{
    color: black;
    src: url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
    font-family: 'Noticia Text', serif;
    font-size: 50px;
}
span{
    color: blue;
    text-decoration: none;
    
}
a{
    text-align: center;
    src: url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
    font-family: 'Noticia Text', serif;
    font-size: 20px;
}
span:hover{
color:blue
}
h4{
    color: black;
    src: url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
    font-family: 'Noticia Text', serif;
    font-size: 25px;
}
.p1{
    src: url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
    font-family: 'Noticia Text', serif;
    font-size: 20px;
}
span{
    color: black;
    text-decoration: none;
}